* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: 0A1D56;


}

.menu {
    float: left;
}

nav {
    width: 100px;
    margin: auto;
    display: flex;
    line-height: 80px;
    
    top: 0;
    background: FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;

}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    top: 0;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin:auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #0A1D56;
}

h2 {
    font-family: 'comic sans-ms';
    font-weight: 80;
    font-size: 40px;
    margin-bottom: 20px;
    color: #0A1D56;
    width: 100px;
    line-height: 50px;

}

a.tbl-biru {
    background: mediumblue;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: darkred;
    text-decoration: none;
}

a.tbl-pink {
    background: rgb(232, 97, 124);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;

}

a.tbl-pink:hover {
    background: #0A1D56;
    text-decoration: none;
}
 p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-family: 'Lucida Sans';

 }
 